doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/stylesheets/style.css" rel="stylesheet")
        title title

        script(src="/scripts/jquery.min.js")
        script(src="/scripts/jquery-ui.min.js")
        script(src="/scripts/core/popup.js")
        script(src="/scripts/apps/indev.js")
        script(src="/scripts/apps/login.js")
    body
        block content