:root {
    --black:       #808080;
    --black-dark:  #000000;

    --red:         #ff0000;
    --red-dark:    #800000;

    --green:       #00ff00;
    --green-dark:  #008000;

    --yellow:      #ffff00;
    --yellow-dark: #7f3f00;

    --blue:        #0000ff;
    --blue-dark:   #000080;

    --purple:      #ff00ff;
    --purple-dark: #800080;

    --cyan:        #00ffff;
    --cyan-dark:   #008080;

    --white:       #ffffff;
    --white-dark:  #a0a0a4;
}

body {
    margin: 0;
    background: var(--cyan-dark);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: var(--blue-dark);
}

button {
    margin: 8px 0;
    padding: 6px;
    background: var(--white-dark);

    border-left   : 2px solid var(--white);
    border-top    : 2px solid var(--white);
    border-right  : 2px solid var(--black-dark);
    border-bottom : 2px solid var(--black-dark);

    cursor: pointer;
}

button:hover {
    background: var(--black);
    outline: 2px solid var(--black-dark);
}

button:active {
    border-left   : 2px solid var(--black-dark);
    border-top    : 2px solid var(--black-dark);
    border-right  : 2px solid var(--white);
    border-bottom : 2px solid var(--white);

    outline: none;
    background: var(--white-dark);
}

select,
input[type="text"] {
    width: 100%;
    background: var(--white);

    box-sizing: border-box;

    border-left   : 2px solid var(--black-dark);
    border-top    : 2px solid var(--black-dark);
    border-right  : 2px solid var(--white);
    border-bottom : 2px solid var(--white);
}

select {
    cursor: pointer;
}

input[type="text"],
option {
    padding: 3px;
}

option:checked {
    color: var(--white);
    background: var(--blue-dark);
}

input[type="text"]:enabled {
    outline: none;
}

input[disabled] {
    background: var(--black);
    cursor: not-allowed;
}

.popup {
    position: fixed;
    background: var(--white-dark);
    
    border-left   : 2px solid var(--white);
    border-top    : 2px solid var(--white);
    border-right  : 2px solid var(--black-dark);
    border-bottom : 2px solid var(--black-dark);
}

.popup__header {
    background: var(--blue-dark);
    color: var(--white);
    padding: 4px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.popup__title {
    width: 100%;
}

.popup__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.popup__button {
    margin: 0;
    padding: 0 6px;
}

.popup__content {
    padding: 6px;
}

.blur__screen {
    width:  100vw;
    height: 100vh;
    position: fixed;

    background: var(--black-dark);
}